/* react-scripts build */

.header {
  display: flex;
  justify-content: center;
  z-index: 20;
  margin: 2rem;
  width: 1200px;
  max-width: 700px;
}
.bar {
  display: none;
}
.logo {
  width: 10rem;
  height: 3rem;
}
/* .menu {
  display: none;
} */
.header_menu {
  display: flex;
  list-style: none;
  color: white;
  gap: 2rem;
}

.header_menu > li:hover {
  color: var(--orange);
  cursor: pointer;
}

.hidden {
  display: none;
}

/* {DropDown Menuy} */
.dropDown {
  display: flex;
  flex-direction: column;
  background: var(--appColor);
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 70px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 2px 2px 4px black;
}

.dropDown li {
  padding: 0.5rem 1rem;
  list-style: none;
}
.dropDown li:hover {
  color: orange;
  cursor: pointer;
}
.dropDown {
  visibility: hidden;
}

@media screen and (max-width: 726px) {
  .header_menu {
    display: none;
  }

  .bar {
    display: block;
    cursor: pointer;
  }
  .dropDown {
    visibility: visible;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
  }
}
