/* ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--darkGrey);
  width: 130px;
  padding: 0;
  box-shadow: 4px 4px 8px black;
} */

/* .header_bar ul li {
  padding: 0.5rem;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
}
ul li:hover {
  color: var(--orange);
} */
